  <header class="header__top">
			<a href="index.html"><img src="{{root}}assets/img/BMR_logo_black.gif" alt="Black Market Research" border="0"/></a>
      <a href="index.html"><h1><span>B</span>LACK MARKET RESEARCH</h1></a>

      <div class="grey_band__nav">
        <nav>
    			<ul id="main_nav">
            <li><a href="albums.html">Albums</a></li>
            <li><a href="shows.html">Shows</a></li>
            <li><a href="about.html">About/EPK</a></li>
    			</ul>
			    <!-- /#main-nav -->

    			<ul id="social_nav">
    				<li><a href="https://www.facebook.com/BlackMarketResearch">Facebook</a></li>
    				<li><a href="https://eepurl.com/d8rCH">Newsletter</a></li>
    			</ul>
    			<!-- /#social-nav -->
    		</nav>
      </div>
  </header>
